.footer-sign {
    font-family: Ember;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
}

.top-footer-sign {
    background-color: rgb(35, 47, 62);
    height: 70px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Ember;
    font-weight: lighter;
    font-size: 12px;

}

.footer-sign-logo-container {
    background-color: rgb(19, 26, 34);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-sign-logo {
    width: 50px;
    height: auto;
}

.bottom-footer {
    background-color: rgb(19, 26, 34);
}

.footer-sign-socials-container {
    width: 80px;
    display: flex;
}

.footer-sign-linkedin {
    width: auto;
    height: 22px;
    margin-top: -5px;
    margin-left: 10px;
    cursor: pointer;
}

.footer-sign-github {
    width: auto;
    height: 22px;
    margin-top: -5px;
    margin-left: 20px;
    cursor: pointer;
}

.footer-sign-scroll {
    background-color: rgb(55, 71, 90);
    scroll-behavior: smooth;
    display: block;
    text-align: center;
    color: white;
    padding: 15px 0;
    line-height: 13px;
    font-size: 13px;
    cursor: pointer;
}

.footer-sign-scroll:hover {
    background-color: rgb(88, 107, 131)
}

/* .footer-sign-wrapper {
} */