
.checkout-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.checkout-content {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px;
    width: 70vw;
}

.checkout-photo-container {
    display: flex;
}

.checkout-photo {
    display: flex;
    width: 200px;
    height: auto;
}

.order-text-container {
    display: block;
}

.check-mark {
    width: 40px;
    height: 40px;
    display: flex;
    margin-left: -45px;
    margin-bottom: -35px;
}

.checkout-confirmation-text {
    font-size: 25px;
    color: rgb(43, 182, 115);
    font-weight: bold;
}

.gif-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    margin-top: -150px;
}

.github-icon {
    width: 60px;
    height: auto;
    margin-bottom: 12px;
}

.linkedin-icon {
    width: 84px;
    height: auto;
}

.truck-gif {
    width: 800px;
    height: 600px;
}

#socials-text {
    font-size: 20px;
    font-weight: bold;
}

.socials-container {
    margin-top: 10px;
}