.home-product-container {
    display: flex;
    flex-direction: column;
    height: 160vh;
    justify-content: space-evenly;
    align-items: center;
}

.home-product-box0 {
    background-color: transparent;
    min-width: 300px; 
    height: 180px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-content {
    width: 70%;
    height: 70%;
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-photo {
    width: 200px;
    height: 200px;
}

.home-photo-single {
    width: 160px;
    height: auto;
    max-height: 220px;
}

.home-product-box1 {
    background-color: rgb(255, 255, 255);
    min-width: 300px; 
    height: 250px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.home-product-box2 {
    background-color: rgb(255, 255, 255);
    height: 250px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-product-box3 {
    background-color: rgb(255, 255, 255); 
    height: 250px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}